.select {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background-color: #6C63FF;
    border-radius: 5px;
    height: 38px;
    font-size: 18px;
    font-weight: 600;
}